.btn {
  display: inline-block;
  font-weight: 400;
  color: var(--darkTextColor);
  text-align: center;
  user-select: none;
  background-color: var(--mainBgColor);
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 0.385rem 0.75rem;
  font-size: inherit;
  box-shadow: 0 8px 15px var(--btnShadowColor);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
  &:hover {
    background: var(--btnBgHoverColor);
    box-shadow: 0 15px 20px var(--btnShadowHoverColor);
    color: var(--mainBgColor);
  }
  &:focus {
    outline: 0;
  }
}
