.contacts {
  text-align: center;
  font-size: 25px;

  &__address,
  &__phone,
  &__social {
    margin-top: 25px;
  }

  &__phone {
    a {
      color: var(--darkTextColor);
      position: relative;
      @include linkUnderline(var(--borderColor));
    }
  }

  &__social {
    font-size: 35px;
    .fab {
      transition: all 0.2s;
      &:hover {
        transform: scale(1.2);
      }
    }
    .fa-instagram {
      margin-left: 40px;
    }
  }
}

@media (max-width: 575px) {
  .contacts {
    &__phone, &__address, &__time {
      font-size: 20px;
      }
  }
}
