.gallery {
  h2 {
    margin-bottom: 40px;
  }
  .slider {
    position: relative;
    height: 100%;
    overflow: hidden;
    &__track {
      display: flex;
      transition: all 0.7s;
    }
    &__item {
      padding: 0 40px;
      display: flex;
      align-items: center;
      img {
        border-radius: 15px;
      }
    }
    &__nextBtn,
    &__prevBtn {
      position: absolute;
      font-size: 40px;
      top: 50%;
      transform: translateY(-50%);
    }
    &__nextBtn {
      right: 0;
    }
    &__prevBtn {
      left: 0;
    }
  }
}

@media (max-width: 575px) {
  .gallery {
    .slider {
      &__nextBtn,
      &__prevBtn {
        font-size: 25px;
      }

      &__nextBtn {
        right: 5%;
      }

      &__prevBtn {
        left: 5%;
      }
    }
  }
}
