.greeting {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.3) 100%),
    url(../images/greeting/bg.jpg) center / cover no-repeat;
  height: 1000px;
  color: var(--lightTextColor);
  text-align: center;
  font-size: 30px;

  &__title {
    font-size: 100px;
    font-weight: 700;
  }

  &__contacts,
  &__btn {
    margin-top: 70px;
  }

  &__contacts {
    text-align: left;
    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
    a {
      color: var(--lightTextColor);
      position: relative;
      @include linkUnderline;
    }
  }
}

@media (max-width: 575px) {
  .greeting {
    font-size: 20px;
    &__title {
      font-size: 50px;
    }
  }
}
