@import "./variables.scss";
@import "./reboot.scss";
@import "./grid.scss";
@import "./mixins.scss";
@import "./animations.scss";
@import "./buttons.scss";
@import "./flexWraps.scss";
@import "./header.scss";
@import "./greeting.scss";
@import "./about.scss";
@import "./service.scss";
@import "./team.scss";
@import "./gallery.scss";
@import "./contacts.scss";
@import "./map.scss";
@import "./footer.scss";

body {
  background-color: var(--mainBgColor);
}

.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hiddenElement {
  display: none;
}

@media (max-width: 992px) {
  .contentWrapper {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    max-width: 720px;
  }
}

@media (max-width: 575px) {
  .contentWrapper {
    width: 100%;
  }
}
