:root {
  --linkColor: #fff;
  --linkHoverColor: #ffe499;
  --activHeaderElem: #ffbc00;
  --footerIconsColor: blue;
  --shadowColor: #0000006e;
  --headerColor: #01142ff2;
  --headerScrollColor: #061832c2;
  --footerColor: #000000;
  --lightTextColor: #fff;
  --darkTextColor: #000;
  --mainBgColor: #f1ebe5;
  --headerHeight: 95px;
}
